* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-page {
    height: 100vh;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    background-color: white;
    padding: 36px 48px;
    min-width: 450px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

.login-form-input-group {
    margin-block: 1rem;
}

.login-form-input-group label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: #444;
}

.login-form-input-group input {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

.login-form-container button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    display: block;
    margin-block: 0.5rem;
    margin-left: auto;
}

.login-form-container .error-message {
    color: #ff4444;
}
